# Big Data Analytics Project 3

In [ ]:
%pip install pandas

# Exploring Data

In [86]:
import pandas as pd
import json

In [87]:
data = []

# Read data from the JSON file
with open('supplies_sales_project3.json', 'r') as file:
    for line in file:
        try:
            json_obj = json.loads(line)
            data.append(json_obj)
        except json.JSONDecodeError as e:
            print(f"Error decoding JSON: {e}")

# Store in a DataFrame
df = pd.DataFrame(data)

# Print DataFrame
print(df)

                                       _id  \
0     {'$oid': '5bd761dcae323e45a93cd008'}
1     {'$oid': '5bd761dcae323e45a93cd010'}
2     {'$oid': '5bd761dcae323e45a93ccff6'}
3     {'$oid': '5bd761dcae323e45a93cd001'}
4     {'$oid': '5bd761dcae323e45a93cd007'}
...                                    ...
4995  {'$oid': '5bd761deae323e45a93ce33a'}
4996  {'$oid': '5bd761deae323e45a93ce349'}
4997  {'$oid': '5bd761deae323e45a93ce35b'}
4998  {'$oid': '5bd761deae323e45a93ce35c'}
4999  {'$oid': '5bd761deae323e45a93ce368'}

                                   saleDate  \
0     {'$date': '2017-09-14T10:52:42.206Z'}
1     {'$date': '2016-09-13T16:54:42.141Z'}
2     {'$date': '2017-08-21T20:38:34.618Z'}
3     {'$date': '2017-02-09T12:08:51.353Z'}
4     {'$date': '2016-07-10T09:35:56.729Z'}
...                                     ...
4995  {'$date': '2016-12-22T15:24:27.219Z'}
4996  {'$date': '2017-05-11T20:59:00.885Z'}
4997  {'$date': '2017-07-12T06:54:17.918Z'}
4998  {'$date': '2016-11-24T13:40:08.689Z'}
4999  {'$date': '2015-04-22T08:31:40.113Z'}

                                                  items storeLocation  \
0     [{'name': 'backpack', 'tags': ['school', 'trav...        Denver
1     [{'name': 'binder', 'tags': ['school', 'genera...     San Diego
2     [{'name': 'printer paper', 'tags': ['office', ...     San Diego
3     [{'name': 'printer paper', 'tags': ['office', ...        Denver
4     [{'name': 'envelopes', 'tags': ['stationary', ...       Seattle
...                                                 ...           ...
4995  [{'name': 'envelopes', 'tags': ['stationary', ...        Denver
4996  [{'name': 'envelopes', 'tags': ['stationary', ...        Denver
4997  [{'name': 'binder', 'tags': ['school', 'genera...        Denver
4998  [{'name': 'pens', 'tags': ['writing', 'office'...       Seattle
4999  [{'name': 'binder', 'tags': ['school', 'genera...      New York

                                               customer  couponUsed  \
0     {'gender': 'F', 'age': 54, 'email': 'civma@roz...       False
1     {'gender': 'F', 'age': 70, 'email': 'itene@jin...       False
2     {'gender': 'F', 'age': 36, 'email': 'gul@waija...       False
3     {'gender': 'M', 'age': 48, 'email': 'avwa@ud.p...       False
4     {'gender': 'M', 'age': 60, 'email': 'kege@nibo...       False
...                                                 ...         ...
4995  {'gender': 'F', 'age': 53, 'email': 'tutrigkim...        True
4996  {'gender': 'F', 'age': 28, 'email': 'fuv@lidbo...       False
4997  {'gender': 'F', 'age': 19, 'email': 'mohofri@c...       False
4998  {'gender': 'F', 'age': 35, 'email': 'sug@faaf....       False
4999  {'gender': 'F', 'age': 65, 'email': 'cas@ejubu...       False

     purchaseMethod
0          In store
1             Phone
2            Online
3          In store
4          In store
...             ...
4995       In store
4996       In store
4997       In store
4998       In store
4999         Online

[5000 rows x 7 columns]

In [88]:
# Exploring df
df

,_id,saleDate,items,storeLocation,customer,couponUsed,purchaseMethod
0,{'$oid': '5bd761dcae323e45a93cd008'},{'$date': '2017-09-14T10:52:42.206Z'},"[{'name': 'backpack', 'tags': ['school', 'trav...",Denver,"{'gender': 'F', 'age': 54, 'email': 'civma@roz...",False,In store
1,{'$oid': '5bd761dcae323e45a93cd010'},{'$date': '2016-09-13T16:54:42.141Z'},"[{'name': 'binder', 'tags': ['school', 'genera...",San Diego,"{'gender': 'F', 'age': 70, 'email': 'itene@jin...",False,Phone
2,{'$oid': '5bd761dcae323e45a93ccff6'},{'$date': '2017-08-21T20:38:34.618Z'},"[{'name': 'printer paper', 'tags': ['office', ...",San Diego,"{'gender': 'F', 'age': 36, 'email': 'gul@waija...",False,Online
3,{'$oid': '5bd761dcae323e45a93cd001'},{'$date': '2017-02-09T12:08:51.353Z'},"[{'name': 'printer paper', 'tags': ['office', ...",Denver,"{'gender': 'M', 'age': 48, 'email': 'avwa@ud.p...",False,In store
4,{'$oid': '5bd761dcae323e45a93cd007'},{'$date': '2016-07-10T09:35:56.729Z'},"[{'name': 'envelopes', 'tags': ['stationary', ...",Seattle,"{'gender': 'M', 'age': 60, 'email': 'kege@nibo...",False,In store
...,...,...,...,...,...,...,...
4995,{'$oid': '5bd761deae323e45a93ce33a'},{'$date': '2016-12-22T15:24:27.219Z'},"[{'name': 'envelopes', 'tags': ['stationary', ...",Denver,"{'gender': 'F', 'age': 53, 'email': 'tutrigkim...",True,In store
4996,{'$oid': '5bd761deae323e45a93ce349'},{'$date': '2017-05-11T20:59:00.885Z'},"[{'name': 'envelopes', 'tags': ['stationary', ...",Denver,"{'gender': 'F', 'age': 28, 'email': 'fuv@lidbo...",False,In store
4997,{'$oid': '5bd761deae323e45a93ce35b'},{'$date': '2017-07-12T06:54:17.918Z'},"[{'name': 'binder', 'tags': ['school', 'genera...",Denver,"{'gender': 'F', 'age': 19, 'email': 'mohofri@c...",False,In store
4998,{'$oid': '5bd761deae323e45a93ce35c'},{'$date': '2016-11-24T13:40:08.689Z'},"[{'name': 'pens', 'tags': ['writing', 'office'...",Seattle,"{'gender': 'F', 'age': 35, 'email': 'sug@faaf....",False,In store
4999,{'$oid': '5bd761deae323e45a93ce368'},{'$date': '2015-04-22T08:31:40.113Z'},"[{'name': 'binder', 'tags': ['school', 'genera...",New York,"{'gender': 'F', 'age': 65, 'email': 'cas@ejubu...",False,Online

In [89]:
# Exploring df first 5 rows
df.head(5)

,_id,saleDate,items,storeLocation,customer,couponUsed,purchaseMethod
0,{'$oid': '5bd761dcae323e45a93cd008'},{'$date': '2017-09-14T10:52:42.206Z'},"[{'name': 'backpack', 'tags': ['school', 'trav...",Denver,"{'gender': 'F', 'age': 54, 'email': 'civma@roz...",False,In store
1,{'$oid': '5bd761dcae323e45a93cd010'},{'$date': '2016-09-13T16:54:42.141Z'},"[{'name': 'binder', 'tags': ['school', 'genera...",San Diego,"{'gender': 'F', 'age': 70, 'email': 'itene@jin...",False,Phone
2,{'$oid': '5bd761dcae323e45a93ccff6'},{'$date': '2017-08-21T20:38:34.618Z'},"[{'name': 'printer paper', 'tags': ['office', ...",San Diego,"{'gender': 'F', 'age': 36, 'email': 'gul@waija...",False,Online
3,{'$oid': '5bd761dcae323e45a93cd001'},{'$date': '2017-02-09T12:08:51.353Z'},"[{'name': 'printer paper', 'tags': ['office', ...",Denver,"{'gender': 'M', 'age': 48, 'email': 'avwa@ud.p...",False,In store
4,{'$oid': '5bd761dcae323e45a93cd007'},{'$date': '2016-07-10T09:35:56.729Z'},"[{'name': 'envelopes', 'tags': ['stationary', ...",Seattle,"{'gender': 'M', 'age': 60, 'email': 'kege@nibo...",False,In store

# Columns name

In [90]:
# Columns name
df.columns

Index(['_id', 'saleDate', 'items', 'storeLocation', 'customer', 'couponUsed',
       'purchaseMethod'],
      dtype='object')

In [91]:
# Items
unique_items = df['items'].explode().apply(lambda x: x['name']).unique()
unique_items

array(['backpack', 'printer paper', 'pens', 'envelopes', 'notepad',
       'binder', 'laptop'], dtype=object)

In [92]:
# Store Locations
stores_location = df["storeLocation"].unique()
stores_location

array(['Denver', 'San Diego', 'Seattle', 'New York', 'Austin', 'London'],
      dtype=object)

In [93]:
# Purchase Methods
purchase_method = df["purchaseMethod"].unique()
purchase_method

array(['In store', 'Phone', 'Online'], dtype=object)

In [94]:
# Columns type
df.dtypes

_id               object
saleDate          object
items             object
storeLocation     object
customer          object
couponUsed          bool
purchaseMethod    object
dtype: object

# Top 10 products sales

In [95]:
# Initializes an empty list to store flattened data
flattened_items = []

for index, row in df.iterrows():
    for item in row['items']:
        name = item['name']
        tags = item['tags']
        quantity = int(item['quantity']) if 'quantity' in item else 0
        price = item['price']
        
        if isinstance(price, dict):     # Checks if the 'price' attribute is a dictionary
            price = float(price['$numberDecimal'])  # Extracts numeric value and converts into a float 
        else:
            price = float(price)

        flattened_items.append({
            'name': name,
            'tags': tags,
            'quantity': quantity,
            'price': price,
        })

In [96]:
# Create new data dataframe for flattened items 
new_df = pd.DataFrame(flattened_items)

In [97]:
# Sales = Quantity * Price
new_df['sales'] = new_df['quantity'] * new_df['price']

In [98]:
# Exploring new_df
new_df

,name,tags,quantity,price,sales
0,backpack,"[school, travel, kids]",3,41.78,125.34
1,printer paper,"[office, stationary]",1,38.93,38.93
2,pens,"[writing, office, school, stationary]",2,70.71,141.42
3,envelopes,"[stationary, office, general]",6,23.63,141.78
4,notepad,"[office, writing, school]",1,5.77,5.77
...,...,...,...,...,...
27433,binder,"[school, general, organization]",7,14.90,104.30
27434,pens,"[writing, office, school, stationary]",4,48.03,192.12
27435,printer paper,"[office, stationary]",6,11.39,68.34
27436,notepad,"[office, writing, school]",3,20.09,60.27
27437,pens,"[writing, office, school, stationary]",4,19.51,78.04

In [99]:
top_products = new_df.groupby('name')['sales'].sum().reset_index()
top_products = top_products.sort_values(by='sales', ascending=False)

In [100]:
top_10_products = top_products.head(10)

In [101]:
# Top 10 products which has the most sales
print(top_10_products)

            name       sales
3         laptop  6775977.07
0       backpack   817374.10
5           pens   581843.27
1         binder   511644.57
4        notepad   463615.48
2      envelopes   376658.49
6  printer paper   367459.29

In [102]:
new_df

,name,tags,quantity,price,sales
0,backpack,"[school, travel, kids]",3,41.78,125.34
1,printer paper,"[office, stationary]",1,38.93,38.93
2,pens,"[writing, office, school, stationary]",2,70.71,141.42
3,envelopes,"[stationary, office, general]",6,23.63,141.78
4,notepad,"[office, writing, school]",1,5.77,5.77
...,...,...,...,...,...
27433,binder,"[school, general, organization]",7,14.90,104.30
27434,pens,"[writing, office, school, stationary]",4,48.03,192.12
27435,printer paper,"[office, stationary]",6,11.39,68.34
27436,notepad,"[office, writing, school]",3,20.09,60.27
27437,pens,"[writing, office, school, stationary]",4,19.51,78.04

# Stores ranking

In [103]:
flattened_items = []

for index, row in df.iterrows():
    for item in row['items']:
        price_dict = item.get('price', {'$numberDecimal': '0'})
        price_str = price_dict.get('$numberDecimal', '0')
        price = float(price_str)
        
        flattened_items.append({
            'name': item['name'],
            'tags': item['tags'],
            'quantity': int(item['quantity']),
            'price': price,
            'storeLocation': row['storeLocation']
        })

In [104]:
# New data frame for flattened_items
new_df = pd.DataFrame(flattened_items)
new_df['sales'] = new_df['quantity'] * new_df['price']

In [105]:
# Store ranking
store_rankings = new_df.groupby('storeLocation')['sales'].sum().reset_index()

# Sorting
store_rankings = store_rankings.sort_values(by='sales', ascending=False)

store_rankings['Rank'] = range(1, len(store_rankings) + 1)

In [106]:
print(store_rankings)

  storeLocation       sales  Rank
1        Denver  2921009.92     1
5       Seattle  2255947.69     2
2        London  1583066.79     3
0        Austin  1445603.11     4
3      New York  1016059.59     5
4     San Diego   672885.17     6

# Top 3 products by store

In [107]:
# Group by
sales_by_store_and_product = new_df.groupby(['storeLocation', 'name'])['sales'].sum().reset_index()

# Sorting
sales_by_store_and_product = sales_by_store_and_product.sort_values(by=['storeLocation', 'sales'], ascending=[True, False])

In [108]:
# Storing top 3 products of each store
top_3_products_by_store = {}

for store_location, group in sales_by_store_and_product.groupby('storeLocation'):
    top_3_products = group['name'].head(3).tolist()     # Top 3 product names for the store by using .head(3).tolist()
    top_3_products_by_store[store_location] = top_3_products

# Showing top 3 products of each store
for store_location, top_products in top_3_products_by_store.items():
    print(f"Store Location: {store_location}")
    print("Top 3 Products by Sales:")
    for i, product_name in enumerate(top_products, start=1):
        print(f"{i}. {product_name}")
    print()

Store Location: Austin
Top 3 Products by Sales:
1. laptop
2. backpack
3. pens

Store Location: Denver
Top 3 Products by Sales:
1. laptop
2. backpack
3. pens

Store Location: London
Top 3 Products by Sales:
1. laptop
2. backpack
3. pens

Store Location: New York
Top 3 Products by Sales:
1. laptop
2. backpack
3. pens

Store Location: San Diego
Top 3 Products by Sales:
1. laptop
2. backpack
3. pens

Store Location: Seattle
Top 3 Products by Sales:
1. laptop
2. backpack
3. pens

## Quantity of each product by stores

In [109]:
sales_by_location = new_df.groupby(['storeLocation', 'name'])['quantity'].sum().reset_index()

# Sorting
sales_by_location = sales_by_location.sort_values(by=['storeLocation', 'quantity'], ascending=[True, False])

In [110]:
# Group by store location
top_3_products_by_location = sales_by_location.groupby('storeLocation').head(3)

In [111]:
print(top_3_products_by_location)

   storeLocation       name  quantity
2         Austin  envelopes      3490
1         Austin     binder      3331
4         Austin    notepad      3128
8         Denver     binder      7986
9         Denver  envelopes      7832
11        Denver    notepad      6276
16        London  envelopes      4037
15        London     binder      3871
18        London    notepad      3278
22      New York     binder      2602
23      New York  envelopes      2540
25      New York    notepad      2073
29     San Diego     binder      1817
30     San Diego  envelopes      1613
32     San Diego    notepad      1426
36       Seattle     binder      5886
37       Seattle  envelopes      5566
39       Seattle    notepad      4546

# Purchased method by gender table

In [112]:
purchase_method = df['purchaseMethod']

In [113]:
gender = df['customer'].apply(lambda x: x.get('gender', 'Unknown'))

combined_df = pd.DataFrame({'purchaseMethod': purchase_method, 'gender': gender})

In [114]:
# Summarize and compare
purchase_method_by_gender = pd.crosstab(combined_df['gender'], combined_df['purchaseMethod']) # gender, rows of the table. purchaseMethod, columns of the table

In [115]:
print(purchase_method_by_gender)

purchaseMethod  In store  Online  Phone
gender
F                   1430     813    284
M                   1389     772    312

In [116]:
# Checking data types of new_df
new_df.dtypes

name              object
tags              object
quantity           int64
price            float64
storeLocation     object
sales            float64
dtype: object

# Monthly Total Sales

In [117]:
# Extracting DateStr
df['DateStr'] = df['saleDate'].apply(lambda x: x['$date'])

# Converts DateStr into Datetime with .to_datetime
df['saleDate'] = pd.to_datetime(df['DateStr'], errors='coerce')

# Creating new column called 'YearMonth' to store year and month from 'saleDate'
df['YearMonth'] = df['saleDate'].dt.strftime('%Y-%m')

In [118]:
# Group by 'YearMonth', Calculate the sum of 'sales'
monthly_total_sales = new_df.groupby(df['YearMonth'])['sales'].sum().reset_index()

In [119]:
# Showing monthly total sales
print(monthly_total_sales)

   YearMonth     sales
0    2013-01  33176.04
1    2013-02  53350.71
2    2013-03  41161.58
3    2013-04  28734.80
4    2013-05  26941.02
5    2013-06  36198.62
6    2013-07  19430.69
7    2013-08  13187.30
8    2013-09  26758.21
9    2013-10  49108.01
10   2013-11  40644.27
11   2013-12  31786.61
12   2014-01  20236.04
13   2014-02  23918.49
14   2014-03  32972.67
15   2014-04  36841.52
16   2014-05  32504.89
17   2014-06  22426.67
18   2014-07  15560.90
19   2014-08  15239.77
20   2014-09  21202.58
21   2014-10  35829.39
22   2014-11  22631.86
23   2014-12  19847.01
24   2015-01  48126.57
25   2015-02  28247.71
26   2015-03  22240.36
27   2015-04  28296.00
28   2015-05  24996.25
29   2015-06  29174.00
30   2015-07  22875.44
31   2015-08  40825.22
32   2015-09  24701.32
33   2015-10  39385.25
34   2015-11  29816.88
35   2015-12  29055.77
36   2016-01  26510.05
37   2016-02  46662.45
38   2016-03  35533.18
39   2016-04  30378.17
40   2016-05  26917.92
41   2016-06  20306.42
42   2016-07  30461.81
43   2016-08  31987.93
44   2016-09  56989.02
45   2016-10  38659.12
46   2016-11  27769.71
47   2016-12  34527.38
48   2017-01  23276.99
49   2017-02  29590.47
50   2017-03  30724.11
51   2017-04  26105.17
52   2017-05  36421.01
53   2017-06  28256.56
54   2017-07  45565.34
55   2017-08  25606.25
56   2017-09  41467.64
57   2017-10  31952.40
58   2017-11  28479.49
59   2017-12  43738.53